# java
java/out
java/.idea
java/programming-language-study.iml

# c
c/data_type
c/operator
c/iteration
c/contional_statement
c/function
c/array
c/pointer
c/structure
c/memory
c/preprocessor
c/module/module

# python
.ipynb_checkpoints
하계올림픽메달.xlsx
test.csv